$primary: rgb(205, 153, 86);
@import "bootstrap/scss/bootstrap";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/utilities/api";

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  min-height: 100vh;
}

.text-truncate-custom {
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

a {
  text-decoration: none;
  color: unset;
}

.min-vh-80 {
  min-height: 80vh !important;
}

.border-hg-bottom {
  border-bottom: solid 2px $primary;
}

.wall {
  background-color: #424642;
}

* {
  border: red 1px;
}

#app {
  min-height: 100vh;
}

.form-control:focus {
  outline: none !important;
  box-shadow: none !important;
}

input:focus,
select:focus {
  box-shadow: none !important;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .box-setting {
    bottom: 0 !important;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .box-setting {
    bottom: 0 !important;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .box-setting {
    bottom: 20px !important;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .box-setting {
    bottom: 20px !important;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .box-setting {
    bottom: 20px !important;
  }
}

.ratio-16x9 {
  --width: 100%;
  aspect-ratio: 16/9;
  width: var(--width);
  height: calc(var(--width) * (9 / 16));
}